body {
    display: grid;
    grid-template-areas:
            "header header header"
            "search search search"
            "nav article ads"
            "footer footer footer";
    grid-template-rows: 50px 100px 1fr 50px;
    grid-template-columns: minmax(200px, 20%) 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    background: rgba(247,247,247,0.72);
}


#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#search {
    grid-area: search;
    display: grid;
    align-content: center;
}
#mainArticle {
    grid-area: article;
}
#filters {
    grid-area: nav;
    background: #ffffff;
    padding: 20px;
    margin-left:20px;
    display: grid;
    grid-gap: 0;
    grid-auto-flow: row;
    justify-items: center;
    box-shadow: 5px 10px 18px #888888;
}

#filters .filter-title {
    font-weight: bolder;
    font-size: smaller;
    font-family: 'Anton', sans-serif;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    max-width: 200px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#siteAds {
    grid-area: ads;
    margin: 10px;
}

.search-box {
    height: 45px;
    width: 60%;
    max-width: 500px;
    margin-right: 20px;
    margin-left: 20px;
}



.search-btn {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 35px;
}



.search-bar {
    margin-left: 20px;
    margin-top: 3px;
    font-size: 20px;
    line-height: 40px;
    width: 80%;
    max-width: 500px;
}
/* Stack the layout on small devices/viewports. */

@media all and (max-width: 1200px) {
    body {
        grid-template-rows: 50px 100px 1fr 15% 50px;
        grid-template-areas:
                "header header header"
                "search search search"
                "nav article article"
                "ads ads ads"
                "footer footer footer";
    }
}

@media all and (max-width: 720px) {
    body {
        grid-template-rows: 50px 100px 1fr 15% 120px;
        grid-template-areas:
                "header header header"
                "search search search"
                "nav article article"
                "ads ads ads"
                "footer footer footer";
    }
}

@media all and (max-width: 680px) {
    body {
        grid-template-areas:
                "header"
                "search"
                "article"
                "ads"
                "nav"
                "footer";
        grid-template-rows: 50px 100px 1fr  15% 1fr 120px;
        grid-template-columns: 1fr;
    }

    #search {
        justify-content: center;
    }

    .search-box {
        height: 45px;
        width: 100%;
        max-width: 500px;
        margin-right: 20px;
        margin-left: 0px;
    }
}