<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/sad.css">
    <title>Sorry</title>
</head>
<body>
<div class="msg">
    We are Sorry
</div>
<div class="sadIcon">
    <i id="test" class="far fa-frown fa-10x"></i>
</div>
<div class="msg1">
    This feature is only supported on mobile.
</div>
<button id="btn" class="w3-button w3-orange" onclick="window.location.href=window.location.origin" ><i class="fa fa-home w3-margin-right"></i>Go back to Home
</button>
</body>
</html>